[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
docker-py = "*"
pytz = "*"

[dev-packages]
pytest = "*"
pytest-capturelog = "*"
pylint = "*"
pyld = "*"

[requires]
python_version = "3.6"
