[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
docker-py = "*"
pytz = "*"
"ruamel.yaml" = "*"
py-cpuinfo = "*"

[dev-packages]
pytest = "*"
pylint = "*"
pyld = "*"
pytest-bdd = "*"
tox = "*"
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "3.6"
